<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>JAYACHANDRA GOTETI</title>
	<!-- ========================================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="title" content="Jayachandra Goteti's portfolio">
	<meta name="author" content="Jayachandra Goteti">
	<link rel="canonical" href="http://jayachandragoteti.github.io/">
	<!-- ========================================================================== -->
	<meta name="description" content="Jack of all trades master of one.">
	<meta name="keywords" content="i @m jayachandra goteti,jayachandra,JAYACHANDRA,jay,jc,jaygoteti,jayachandra goteti, goteti jayachandra,goteti, developer,webdeveloper,web developer,php developer,student,sac,aitam,aitamsac,aditya tekkali,aitam tekkali,Student Activity Center,Student Activity Center aitam,Aditya Institute of Technology and Management (AITAM College, Tekkali),Student Activity Center | AITAM,student developer,GOTETI JAYACHANDRA MOHAN LAKSHMI NARASIMHA MURTHY, i am a Developer,GOTETI, JAYACHANDRA, MOHAN, LAKSHMI, NARASIMHA, MURTHY,node.js,node,react,react.js,express.js,express,mondoDB,flutter,MERN stack,MERN stack developer,node developer,react developer">
	<!-- ========================================================================== -->
	<meta itemprop="name" content="Jayachandra Goteti's portfolio">
	<meta itemprop="description" content="Jack of all trades master of one.">
	<meta itemprop="image" content="./img/favicon (2).png">
	<!-- ========================================================================== -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@JayGoteti">
	<meta name="twitter:title" content="Jayachandra Goteti's portfolio">
	<meta name="twitter:description" content="Jack of all trades master of one.">
	<meta name="twitter:creator" content="@JayGoteti">
	<meta name="twitter:image" content="./img/favicon (2).png">
	<!-- ========================================================================== -->
	<meta property="fb:app_id" content="214738555737136">
	<meta property="og:title" content="Jayachandra Goteti's portfolio">
	<meta property="og:type" content="article">
	<meta property="og:url" content="http://jayachandragoteti.github.io/">
	<meta property="og:image" content="./img/favicon (2).png">
	<meta property="og:description" content="Jack of all trades master of one.">
	<meta property="og:site_name" content="Themesberg">
	<!-- ========================================================================== -->
	<link rel="apple-touch-icon" sizes="120x120" href="./img/favicon (2).png">
	<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon (2).png">
	<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon (2).png">
	<!-- ========================================================================== -->
	<link rel="manifest" href="./img/favicon (2).png">
	<link rel="mask-icon" href="./img/favicon (2).png" color="#ffffff">
	<!-- ========================================================================== -->
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- ========================================================================== -->
	<link type="text/css" href="./vendor/%40fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link type="text/css" href="./css/neumorphism.css" rel="stylesheet">
	<!-- ========================================================================== -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-6"></script>
	<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());
	gtag('config', 'UA-141734189-6');
	</script>
	<script>
	(function(w, d, s, l, i) {
		w[l] = w[l] || [];
		w[l].push({
			'gtm.start': new Date().getTime(),
			event: 'gtm.js'
		});
		var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s),
			dl = l != 'dataLayer' ? '&l=' + l : '';
		j.async = true;
		j.src = '../../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
		f.parentNode.insertBefore(j, f);
	})(window, document, 'script', 'dataLayer', 'GTM-THQTXJ7');
	</script>
	<script async src='./js/api.js'></script>
	<!-- ========================================================================== -->
</head>
	<!-- ========================================================================== -->
	<!-- ========================================================================== -->
<body>

	<header class="header-global" >
		<nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
			<div class="container position-relative">
				<a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="http://jayachandragoteti.github.io/">
					<img class="navbar-brand-dark" src="./img/i@mLogoDark.png" alt="i @m.." style="height:2rem;">
					<img class="navbar-brand-light" src="./img/i@mLogoDark.png" alt="i @m.." style="height:2rem;"/>
				</a>
			</div>
		</nav>
	</header>
	<main>
        
		<section id="home" class="section section bg-soft pb-5 overflow-hidden z-2 mt-5">
			<div class="container z-2">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
						<div class="form-group">
                            <div class="d-flex flex-row justify-content-center">
                                <form id="FormSearchLocation">
                                    <div class="input-group">
                                        <input class="form-control form-control-xl border-light" id="SearchLocation" placeholder="location.." type="text">
                                        <div class="input-group-prepend">
                                            <button type="submit" class="btn btn-primary rounded-right">Search</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
				<div class="row justify-content-center mt-5">
                    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-5">
						<div class="profile-card mb-5">
							<div class="card bg-primary shadow-soft border-light">
								<div class="profile-image bg-primary shadow-inset border border-light rounded-circle p-3 ml-3 mt-n5">
                                    <img src="https://image.freepik.com/free-vector/weather-icons-collection_1234-53.jpg" class="card-img-top rounded-circle weather_icons" alt="">
                                </div>
								<div class="card-body">
                                    <h3 class="h5 mb-2 ErrorMsg text-danger"></h3>
									<h3 class="h1 mb-2"><span class="temperature">--</span><span>°C</span></h3>
                                    <span class="h4 font-weight-normal text-gray mb-3 weather_descriptions"></span>
									<ul class="list-unstyled my-3">
										<li class="mb-3"><p class="text-small"><span>Feels like: </span><span class="feels_like">--</span><span>°C</span></p></li>
                                        <li class="mb-1"><span>Humidity: </span><span class="humidity">0 </span></li>
                                        <li class="mb-1"><span>Wind Speed: </span><span class="wind_speed">0 </span> km/h</li>
									</ul>
									<p class="card-text">Observation Time: <span class="observation_time">00:00PM/AM</span></p>
								</div>
							</div>
						</div>
					</div>
                </div>
			</div>
		</section>
	</main>
	<a id="producthunt-badge" href="http://jayachandragoteti.github.io/" >
		<img src="./img/i@mLogoDark.png" alt="jay" style="width:50px; height:35px;" width="50px" height="35px">
	</a>
	<footer id="contact"class="d-flex pb-5 pt-6 pt-md-7 border-top border-light bg-primary">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<hr class="my-5">
					<p><strong>Jayachandra Goteti </strong> Jack of all trades <strong class="text-success">Master</strong>  of one.</p>
					<ul class="d-flex list-unstyled mb-5 mb-lg-0">
						<li class="mr-2"><a href="https://twitter.com/JayGoteti"  target="_blank" class="btn btn-primary btn-pill btn-icon-only text-twitter mr-2" aria-label="twitter social link" data-toggle="tooltip" data-placement="top" title="Follow i @m.. on Twitter"><span aria-hidden="true" class="fab fa-twitter"></span></a></li>
						<li class="mr-2"><a href="https://www.facebook.com/jayachandragoteti/"  target="_blank" class="btn btn-icon-only btn-pill btn-facebook" aria-label="facebook social link" data-toggle="tooltip" data-placement="top" title="Like i @m.. on Facebook"><span aria-hidden="true" class="fab fa-facebook"></span></a></li>
						<li class="mr-2"><a href="https://www.instagram.com/jaygoteti/?r=nametag"  target="_blank" class="btn btn-icon-only btn-pill btn-pinterest" aria-label="pinterest social link" data-toggle="tooltip" data-placement="top" title="Open source projects"><span aria-hidden="true" class="fab fa-instagram"></span></a></li>
					</ul>
				</div>
				<hr>
				
				<div class="col-12 col-lg-6 mb-5 mb-lg-0">
					<hr class="my-5">
					<h5>Have a Questions?</h5>
					<ul class="footer-links list-unstyled  list-group list-group-flush price-list border-0">
						<li class=" bg-soft pl-0"><a class="p-2"  href="https://www.google.com/maps?q=17.8955901,83.014988&z=17&hl=en" target="_blank"><span aria-hidden="true" class="fab fa-dribbble"></span> 1-73/78 MEDACHARLA, K.KOTAPADU, &nbsp&nbsp&nbsp&nbsp Visakhapatnam.pin:531034</a></li>
						<li class=" bg-soft pl-0"><a class="p-2"  href="tel://+919491694195" target="_blank"><span class="fas fa-phone"></span> +91-9491694195</a></li>
						<li class=" bg-soft pl-0"><a class="p-2"  href="mailto:gotetijayachandra@gmail.com" target="_blank"><span class="fas fa-envelope"></span> gotetijayachandra@gmail.com</a></li>
					</ul>
				</div>
			</div>
			<hr class="my-5">
			<div class="row">
				<div class="col">
					<a href="http://jayachandragoteti.github.io/"  class="d-flex justify-content-center">
						<img src="./img/i@mLogoDark.png" height="25" class="mb-3" alt="i @m.. Logo">
					</a>
					<div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
						<p class="font-weight-normal font-small mb-0">Copyright © JAYACHANDRA GOTETI <span class="current-year"><script>document.write(new Date().getFullYear());</script></span>. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- ========================================================================== -->
    <script src="./js/app.js"></script>
	<!-- ========================================================================== -->
	<script src="./vendor/jquery/dist/jquery.min.js"></script>
	<script src="./vendor/popper.js/dist/umd/popper.min.js"></script>
	<script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="./vendor/headroom.js/dist/headroom.min.js"></script>
	<script src="./vendor/onscreen/dist/on-screen.umd.min.js"></script>
	<script src="./vendor/nouislider/distribute/nouislider.min.js"></script>
	<script src="./vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	<script src="./vendor/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="./vendor/jarallax/dist/jarallax.min.js"></script>
	<script src="./vendor/jquery.counterup/jquery.counterup.min.js"></script>
	<script src="./vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
	<script src="./vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
	<script src="./vendor/prismjs/prism.js"></script>
	<script async defer="defer" src="./js/buttons.github.js"></script>
	<script src="./js/neumorphism.js"></script>
	<script type="text/javascript">
	(function() {
		window['__CF$cv$params'] = {
			r: '650dd1b68a21e2ed',
			m: '43a028f92e1f985b9b85907319f28289d8cde154-1621264715-1800-ASrIuoZHn2iztioyRA1cXqIYAG9/49Ky3PtbXYX1Lg8Wl034O3PDRSqi5D/8v8K7d2cvakaFVuC5g4i8tH415D3a7pSs1xj1vaINj7mbgqrEdiSDmkLrsGAs1fTFR4yV/mb8Pgxq9To96JPOIGnPPb0=',
			s: [0xf0c6c85c4a, 0x90c25bea7e],
		}
	})();
	</script>
	<!-- ========================================================================== -->
	<!-- ========================================================================== -->
</body>
</html>